<div class="fixed z-10 inset-0 overflow-y-auto" [class.hidden]="!isModalAddRolS">
  <!-- Overlay con Tailwind CSS -->
  <div class="fixed inset-0 flex items-center justify-center z-10">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>

    <div class="relative bg-gray-200 shadow-lg rounded-lg w-full max-w-2xl p-4">
      <h1 class="flex items-center justify-center text-2xl font-extrabold dark:text-gray-700">Actualizar Roles</h1>
      <table class="text-xs text-gray-700 uppercase bg-black-300 dark:text-white">
        <thead>
          <tr>
            <th scope="col" class="px-4 py-3">Nombre</th>
            <th scope="col" class="px-4 py-3">Descripcion</th>
            <th scope="col" class="px-4 py-3">Estado</th>
            <th scope="col" class="px-4 py-3">Action</th>  
            
          </tr>
        </thead>
        <tbody>
          <tr class="bg-gray-300 border-b border-blue-200">
            <td class="px-6 py-4">
              <input type="text" id="first_name" class="bg-gray-200 border border-gray-400 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Apple MacBook Pro 17" required>
            </td>
            <td class="px-6 py-4">
              <input type="text" id="first_name" class="bg-gray-200 border border-gray-400 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Silver" required>
            </td>
            <td class="px-6 py-4">
              <div class="col-span-6 sm:col-span-3">
                <select name="position" id="position" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                  <option value="" disabled selected hidden>Rol</option>
                  <option value="n1">Online</option>
                  <option value="n2">Offline</option>
                  <!-- Agrega más opciones aquí según sea necesario -->
                </select>
              </div>
            </td>
            <td class="px-6 py-4">
              <a href="#" class="font-medium text-black hover:underline">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="closeModalAddRol()" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-semibold px-4 py-2 mt-4 rounded-md">Cerrar</button>
    </div>
  </div>
</div>
